# Dependencies
node_modules

# Build outputs
.next
out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*

# Editor directories and files
.vscode
.idea
.DS_Store
